* {
    margin: 0px auto;
}


 
.header {
    background-color: #ea1d35;
    height: 45px;
}


.header1{
    display: inline;
    color: white;
    float: right;
    margin: auto;
    width: 20%;
    padding: 20px;
    background-image: url(https://img.icons8.com/color/48/000000/clock--v3.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: left;
    padding: 10px 10px 10px 20px;
}




.container{
    background-color: black;
}

.logo img{
    float: left;
    width: 250px;
    margin-left: 20px;
    margin-top: 5px;
}

.nav ul li{
    float: left;
    margin: 30px;
    margin-top: 14px;
    list-style: none;
    color: #000000;
    display: inline;    
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
    word-spacing: 3px;
    
}

.nav ul li:hover{
    color: #ea1d35;

}

