*{
	margin:0px auto;
}
.container{
	width:80%;
	height:80%;
	background-color:lightgray;
	margin-top:50px;
	border-radius:20px;
}
.div1,.div2,.div3{
	//border:1px solid green;
	width:30%;
	height:80%;
	float:left;
	margin-top:60px;
	margin-left:40px;
	border-radius:20px;
	background:linear-gradient(violet,orange);
	text-align:center;
	padding-top:20px;
	box-sizing:border-box;
}
img{
	width:50%;
	height:40%;
	border-radius:80%;
}
h1{
	color:white;
	text-transform:capitalize;
	padding-top:20px;
	text-decoration:underline;
}