
*{
    margin: 0px auto;
}
// body{
    background-color:#0E121A;
}

.bg{
    background-color: #0E121A;
}

div img{

    width: 200px;
    float: left;
}

.heading h1{
    float: right;
    color: white;
    font-size: 20px;
    margin-right: 265px;
    margin-top: 15px;
    font-size: 35px;
}

.heading h3{
    float: left;
    font-size: 20px;
    color: white;
    margin-left: 70px;
    margin-top: 2px;
    
}

.judge h3{
    float: right;
    font-size: 10px;
    color: white;
    background-color: red;
}

ul li{
    color: white;
    float: left;
    list-style: none;
    margin-right: 15px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 15px;
    letter-spacing: 2px;
    width: 15%;
    text-align: center;
    background-color:black;
    font-size: 15px;
}

.hr1{
    margin-top: 100px;
}

ul li:hover{
    background-color: yellow;
    color: black;
}

.hr2{
    margin-top: 80px;
}


.wellcome h1{
    font-size:35px;
    text-align: left;
    font-family: monospace; 
    letter-spacing: 2px;
}

.wellcome h2{
    font-size: 15px;
    text-align: left;
    font-family: monospace; 
    letter-spacing: 2px;

}

.container{
	background-color: gray;
	width: 907px;
	height: 80%;
	float:left;
	margin-left: 200px;
	margin-top: 20px;

}

.div1{
    
       border-radius: 10px;
	   border:1px solid black;
	   width: 300px;
       height: 300px;
       background: red;
       float: left;   
	   text-align: center;
	   align-content: center;
}


.div1 .head{
	font-size: 30px;
	margin-top: 150px;
}

.div2{
    
	border-radius: 10px;
	border:1px solid black;
	width: 300px;
	height: 300px;
	background: red;
	float: left;   
	text-align: center;
	align-content: center;
}


.div2 .head{
 font-size: 30px;
 margin-top: 150px;
}


.div3{
    
	border-radius: 10px;
	border:1px solid black;
	width: 300px;
	height: 300px;
	background: red;
	float: left;   
	text-align: center;
	align-content: center;
}


.div3 .head{
 font-size: 30px;
 margin-top: 150px;
}


.div4{
    
	border-radius: 10px;
	border:1px solid black;
	width: 300px;
	height: 300px;
	background: red;
	float: left;   
	text-align: center;
	align-content: center;
	margin-top: 10px;
}


.div4 .head{
 font-size: 30px;
 margin-top: 150px;
}


.div5{
    
	border-radius: 10px;
	border:1px solid black;
	width: 300px;
	height: 300px;
	background: red;
	float: left;   
	text-align: center;
	align-content: center;
	margin-top: 10px;
}


.div5 .head{
 font-size: 30px;
 margin-top: 150px;
}

.div6{
    
	border-radius: 10px;
	border:1px solid black;
	width: 300px;
	height: 300px;
	background: red;
	float: left;   
	text-align: center;
	align-content: center;
	margin-top: 10px;
}


.div6 .head{
 font-size: 30px;
 margin-top: 150px;
}

.footer{
	display: inline-block;
	background-color: blue;
	color: white;
	font-size: 10px;
	width: 100%;
	text-align: center;
	margin-top: 10px;

}



/* 
.div1 {
	width:30%;
	height:80%;
	float:left;
	margin-top:60px;
	margin-left:40px;
	border-radius:100px;
	background:linear-gradient(violet,orange);
	text-align:center;
	padding-top:20px;
	box-sizing:border-box;
}


.div2 {
	width:30%;
	height:80%;
	float:left;
	margin-top:60px;
	margin-left:40px;
	border-radius:20px;
	background:linear-gradient(violet,orange);
	text-align:center;
	padding-top:20px;
	box-sizing:border-box;
}


.div3 {
	width:30%;
	height:80%;
	float:left;
	margin-top:60px;
	margin-left:40px;
	border-radius:20px;
	background:linear-gradient(violet,orange);
	text-align:center;
	padding-top:20px;
	box-sizing:border-box;
}


.div4 {
	width:30%;
	height:80%;
	float:left;
	margin-top:60px;
	margin-left:40px;
	border-radius:20px;
	background:linear-gradient(violet,orange);
	text-align:center;
	padding-top:20px;
	box-sizing:border-box;
}


.div5 {
	width:30%;
	height:80%;
	float:left;
	margin-top:60px;
	margin-left:40px;
	border-radius:20px;
	background:linear-gradient(violet,orange);
	text-align:center;
	padding-top:20px;
	box-sizing:border-box;
}


.div6 {
	width:30%;
	height:80%;
	float:left;
	margin-top:60px;
	margin-left:40px;
	border-radius:20px;
	background:linear-gradient(violet,orange);
	text-align:center;
	padding-top:20px;
	box-sizing:border-box;
}

.div7 {
	width:30%;
	height:80%;
	float:left;
	margin-top:60px;
	margin-left:40px;
	border-radius:20px;
	background:linear-gradient(violet,orange);
	text-align:center;
	padding-top:20px;
	box-sizing:border-box;
}


.div8 {
	width:30%;
	height:80%;
	float:left;
	margin-top:60px;
	margin-left:40px;
	border-radius:20px;
	background:linear-gradient(violet,orange);
	text-align:center;
	padding-top:20px;
	box-sizing:border-box;
}


.lead{
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%    
}
*/

